body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }

img {
    max-width: 800px;
    height: auto;
    display: block;
  }  